.App, .pendu {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.top {
background:#b6bdcc;
height:45vh;
display: flex;
padding:30px;
padding-top:60px;
font-size:300%;

}

.bottom {
  color:#b6bdcc;
background :#282c34;
height:45vh;
font-size:150%;
display: flex;
padding:30px;
padding-top:60px;
}

.letter , .unknown {
  border: 3px solid black;
  padding:15px;
  margin:10px;
  
}

.alreadyUsed {
  background-color: #805040;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
